//- include bootstrap-jade/components/alerts

html(lang="en")
  head
    title= pageTitle
    include templates/bower-styles.jade
    include templates/bower-scripts.jade

    include templates/styles.jade
    include templates/scripts.jade
  body
    div helloo
//- bootstrap mixin example +alert-info(message,icon)
